/* header */

header
{
    background-image: url(../img/header.png);
    height: 784px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #E7DFD8;
}

.header-top li
{
    font-size: 11px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #E4D8CC;
}

.header-top .container
{
    display: flex;
    justify-content: space-between;
    padding-top: 23px;
}

.header-top ul
{
    display: flex;
}

.header-top ul:first-of-type
{
    gap: 32px;
}

.header-top ul:last-of-type
{
    gap: 38px;
}

.header-top li:first-of-type
{
    margin-left: 134px;
}

.header-top li:last-of-type
{
    margin-right: 22px;
}


/* main */

/* section 1 */

.bonus
{
    position: absolute;
    top: 411px;
    left: 360px;
}

.bonus h2
{
    font-size: 57px;
    font-weight: 400;
    line-height: 60.48px;
    color: #E4D8CC;
    max-width: 838px;
}

.bonus h4
{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #C3BAB1;
    margin: 14px 0 42px;
}

.bonus .get-bonus
{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    background-color: #7837F3;
    color: #FFFFFF;
}

.bonus .how-works
{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    background-color: #E4D8CC80;
    color: #FFFFFF;
    margin-left: 16px;
}

/* section 2 */

.graphic
{
    background-color: #E7DFD8;
}

.graphic .container
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 75px 15px;
}

.graphic h2
{
    font-size: 54px;
    font-weight: 400;
    line-height: 58px;
    max-width: 507px;
    margin-bottom: 15px;
}

.graphic h4
{
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    max-width: 425px;
}

/* section 3 */

.home
{
    background-color: #E7DFD8;
}

.home .container
{
    display: flex;
    gap: 116px;
    padding: 124px 15px 101px;
}

.home .content
{
    display: flex;
    flex-direction: column;
}

.home .text-in-circle
{
    position: relative;
    margin-top: 91px;
    display: flex;
    align-items: center;
    padding-bottom: 18px;
}

.home h2
{
    font-size: 38px;
    font-weight: 400;
    line-height: 24px;
    position: absolute;
    top: 25px;
    left: 28px;
}

.home h3
{
    font-size: 35px;
    font-weight: 400;
    line-height: 45.63px;
    letter-spacing: 1px;
    max-width: 459px;
    margin-bottom: 11px;
}

.home h4
{
    font-size: 19px;
    font-weight: 400;
    line-height: 36px;
    text-transform: capitalize;
    padding-left: 12px;
}

.home .expand
{
    display: flex;
    border-bottom: 2px solid #101010;
    width: 95px;
}

.home .expand :first-of-type
{
    font-size: 12px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.home .expand :last-of-type
{
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    padding-left: 10px;
}

.home h6
{
    font-size: 14px;
    font-weight: 500;
    line-height: 22.08px;
    padding-top: 45.5px;
    max-width: 470px;
}

/* section 3 */

.partner
{
    background-color: #E7DFD8;
}

.partner .container
{
    display: flex;
    flex-direction: row-reverse;
    gap: 116px;
    padding: 124px 15px 101px;
}

.partner .content
{
    display: flex;
    flex-direction: column;
}

.partner .text-in-circle
{
    position: relative;
    margin-top: 91px;
    display: flex;
    align-items: center;
    padding-bottom: 18px;
}

.partner h2
{
    font-size: 38px;
    font-weight: 400;
    line-height: 24px;
    position: absolute;
    top: 25px;
    left: 25px;
}

.partner h3
{
    font-size: 35px;
    font-weight: 400;
    line-height: 45.63px;
    letter-spacing: 1px;
    max-width: 459px;
    margin-bottom: 11px;
}

.partner h4
{
    font-size: 19px;
    font-weight: 400;
    line-height: 36px;
    text-transform: capitalize;
    padding-left: 12px;
}

.partner .expand
{
    display: flex;
    border-bottom: 2px solid #101010;
    width: 95px;
}

.partner .expand :first-of-type
{
    font-size: 12px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.partner .expand :last-of-type
{
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    padding-left: 10px;
}

.partner h6
{
    font-size: 14px;
    font-weight: 500;
    line-height: 22.08px;
    padding-top: 45.5px;
    max-width: 470px;
}

/* section 4 */

.sell
{
    background-color: #E7DFD8;
}

.sell .container
{
    display: flex;
    gap: 116px;
    padding: 124px 15px 101px;
}

.sell .content
{
    display: flex;
    flex-direction: column;
}

.sell .text-in-circle
{
    position: relative;
    margin-top: 91px;
    display: flex;
    align-items: center;
    padding-bottom: 18px;
}

.sell h2
{
    font-size: 38px;
    font-weight: 400;
    line-height: 24px;
    position: absolute;
    top: 25px;
    left: 25px;
}

.sell h3
{
    font-size: 35px;
    font-weight: 400;
    line-height: 45.63px;
    letter-spacing: 1px;
    max-width: 459px;
    margin-bottom: 11px;
}

.sell h4
{
    font-size: 19px;
    font-weight: 400;
    line-height: 36px;
    padding-left: 12px;
}

.sell .expand
{
    display: flex;
    border-bottom: 2px solid #101010;
    width: 95px;
}

.sell .expand :first-of-type
{
    font-size: 12px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.sell .expand :last-of-type
{
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    padding-left: 10px;
}

.sell h6
{
    font-size: 14px;
    font-weight: 500;
    line-height: 22.08px;
    padding-top: 45.5px;
    max-width: 430px;
}

/* section 5 */

.forbes .container
{
    display: flex;
    height: 555px;
    justify-content: center;
    gap: 128px;
}

.forbes .column
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forbes .column1 div img
{
    border-radius: 50%;
    object-fit: cover;
}

.forbes .dots
{
    margin-top: 116px;
}

.forbes .img    
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 73px;
    justify-content: center;
    gap: 29px;
}

.forbes h4
{
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    color: #E4D8CC;
    text-align: center;
}

.forbes h5
{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #E4D8CC;
}

.forbes .text
{
    gap: 19px;
    display: flex;
    flex-direction: column;
    margin: 48px 0 61px;
}

/* section 6 */

.questions
{
    background-color: #101010;
}

.questions .container
{
    height: 710px;
    display: flex;
    justify-content: space-between;
}

.questions h4
{
    font-size: 36px;
    font-weight: 400;
    line-height: 45.63px;
    letter-spacing: 1px;
    color: #E4D8CC;
    margin: 118px 0 45px;
}

.questions h5
{
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: #B99FEA;
}

.questions .text
{
    gap: 52px;
    display: flex;
    flex-direction: column;
}

/* section 7 */

.mission
{
    background-image: url(/img/footer.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #121212;
    border-bottom: 1px solid #FFFFFF;
}

.mission .container
{
    height: 600px;
    display: flex;
    flex-direction: column;
}

.mission h5
{
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
    color: #C3BAB1;
    margin-top: 139px;
}

.mission h3
{
    font-size: 48px;
    font-weight: 400;
    line-height: 54px;
    color: #E7DFD8;
    margin-top: 19px;
    max-width: 565px;
}

.mission button
{
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 0;
    color: #E4D8CC;
    margin-top: 24px;
    padding-bottom: 13.56px;
    border-bottom: 1px #E4D8CC solid;
    border-radius: 0;
    text-align: left;
    width: 261px;
}

/* section 8 */

.info
{
    background-color: #101010;
}

.info .container
{
    height: 545px;
    padding: 78px 15px 121px;
    position: relative;
}

/* article 1 */

.info .have-questions
{
    display: flex;
    gap: 42px;
    margin-bottom: 86px;
}

.info h3
{
    font-size: 23px;
    font-weight: 400;
    line-height: 24px;
    color: #E4D8CC;
    margin-bottom: 19px;
}

.info button
{
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}

.info .have-questions div:first-of-type button
{
    color: #FFFAF5;
    background-color: #7837F3;
    padding: 9px 32px;
}

.info .have-questions div:last-of-type button
{
    color: #E4D8CC;
    border: 1px #E4D8CC solid;
    padding: 9px 25px;
}

/* article 2 */

.info .for
{
    display: flex;
    gap: 75px;
}

.info h4
{
    font-size: 20px;
    font-weight: 400;
    line-height: 16px;
    color: #E4D8CC;
    margin-bottom: 45px;
}

.info h5
{
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: #E4D8CC;
    margin-bottom: 45px;
}

/* article 3 */

.info h6
{
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    color: #E4D8CC;
    margin-top: 47px;
}

.info .way
{
    position: absolute;
    right: 57px;
    bottom: 288px;
}

/* footer */

footer
{
    background-color: #101010;
}

footer .container
{
    border-top: 1px #E4D8CC29 solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 4px;
}

footer h5
{
    font-size: 11px;
    font-weight: 400;
    line-height: 11px;
    color: #E4D8CC;
}

footer h5:last-of-type
{
    margin-left: 4px;
}

footer .text
{
    display: flex;
}