body {
    font-family: var(--font-family-base);
    font-weight: 400;
    line-height: 22px;
    font-size: 14px;
    color: var(--color-black);
    background-color: var(--color-background);
}

* {
   font-weight: 400;
}

a, button, input, textarea, svg * {
    transition-duration: var(--transition-duration);
}