.questions {
    background-color: var(--color-black);
    padding: 100px 0 71px;

    &__inner {

        display: grid;
        grid-template-columns: 512px 520px;
        justify-content: space-between;
    }

    &__content {

        margin-top: 18px;
    }

    &__main-title {

        @include typography (36px, 45.6px, var(--color-coffee));
        letter-spacing: 1px;
        margin-bottom: 45px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 52px;
    }

    &__list-item {

        @include typography (20px, 28px, var(--color-violet-alt));
    }
}